.bigNumber {
  text-align: center;
  font-size: 300px;
  font-weight: bolder;
  height: 400px;
  padding: 0;
}

body {
  text-align: center;
  background-color: #222;
  color: #eee;
}

button {
  height: 44px;
  width: 400px;
  appearance: none;
  outline: none;
  border: none;
  appearance: none;
  background-color: #aaa;
  border-radius: 6px;
  box-shadow: 4px #333;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
}

/* 登場退場中に有効 */
.num-enter-active,
.num-leave-active {
  transition: all 0.75s cubic-bezier(0.1, 1, 0.42, 1);
}

/* 退場中に有効 中央に残す */
.num-leave-active {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
}

/* 登場する前と退場した後 */
.num-enter,
.num-leave-to {
  opacity: 0;
  font-size: 1px;
}

/* 登場退場中に有効 */
.v-enter-active,
.v-leave-active {
  transition: all 0.75s cubic-bezier(0.1, 1, 0.42, 1);
  transition-delay: 0.3s;
}

/* 登場する前と退場した後 */
.v-enter,
.v-leave-to {
  opacity: 0;
}

/* 登場退場中に有効 */
.v-move {
  transition: all 0.75s cubic-bezier(0.1, 1, 0.42, 1);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

li {
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  background-color: #444;
}

li:first-child {
  background: #888;
  font-weight: bolder;
}